<header>
  <div class="container-fluid">
    <div class="row">

      <!-- BEGIN NAV-->
      <nav class="navbar navbar-fixed-top navbar-default-bg">
        <!-- BRAND -->
        <%= link_to 'myRecipes', '#', class: 'navbar-brand btn btn-lg btn-success', id: 'logo'  %>
        <!-- END BRAND -->
        <!-- NAVBAR LINKS-->
        <ul class="nav navbar-nav">
          <li class="nav-item"><%= link_to 'myRecipes2', '#', class: 'nav-link btn btn-default btn-warning' %>
          <li class="nav-item"><%= link_to 'myRecipes2', '#', class: 'nav-link btn btn-default btn-warning' %>
          <li class="nav-item"><%= link_to 'myRecipes2', '#', class: 'nav-link btn btn-default btn-warning' %>
          <li class="nav-item"><%= link_to 'myRecipes2', '#', class: 'nav-link btn btn-default btn-warning' %>
          </li>
        </ul>
      </nav>
      <!-- END NAV -->

    </div>
  </div>
  <!-- END BOOTSTRAP POS-->
</header>
<!-- ****** END HEADER *******-->