<header>
  <div class="container-fluid">
    <div class="row">

      <!-- BEGIN NAV-->
      <nav class="navbar navbar-fixed-top navbar-default">
        <!-- BRAND -->
        <%= link_to 'myRecipes', root_path, class: 'navbar-brand btn btn-lg btn-success', id: 'logo'  %>
        <!-- END BRAND -->
        <!-- NAVBAR LINKS-->
        <ul class="nav navbar-nav">

          <ul class="nav_ul_item">
            <li class="dropdown">
              <%= link_to '#', class: 'btn btn-default btn-danger dropdown-toggle', 'data-toggle' => 'dropdown' do %>
                  Styles <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <% Style.all.each do |style| %>
                  <li><%= link_to style.name, style_path(style) %></li>
                <% end %>
                <% if logged_in? %>
                  <hr>
                  <!--<li class="divider"></li>-->
                  <li>
                    <%= link_to(new_style_path) do %>
                     New Style
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>

          <ul class="nav_ul_item">
            <li class="dropdown">
              <%= link_to '#', class: 'btn btn-default btn-danger dropdown-toggle', 'data-toggle' => 'dropdown' do %>
                  Ingredients <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <% Ingredient.all.each do |ingredient| %>
                    <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
                <% end %>
                <% if logged_in? %>
                    <hr>
                    <li>
                      <%= link_to(new_ingredient_path) do %>
                        New Ingredient
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </li>
          </ul>


          <% if logged_in? %>
              <li class="nav_item"><%= link_to 'Create New Recipe', new_recipe_path, class: 'nav-link btn btn-default btn-warning' %></li>

              <ul class="nav_item">
                <li class="dropdown">
                  <%= link_to '#', class: 'btn btn-default btn-danger dropdown-toggle', 'data-toggle' => 'dropdown' do %>
                    <%= current_user.chefname %> <b class="caret"></b>
                  <% end %>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'View Profile', chef_path(current_user) %></li>
                    <li><%= link_to 'Edit Profile', edit_chef_path(current_user) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Log Out", logout_path %></li>
                  </ul>
                </li>
              </ul>
            <% else %>
              <li class="nav_item">
                <%= link_to 'Log In', login_path, class: 'nav-link btn btn-default btn-success' %>
              </li>
            <% end %>
        </ul>
      </nav>
      <!-- END NAV -->

    </div>
  </div>
  <!-- END BOOTSTRAP POS-->
</header>
<!-- ****** END HEADER *******-->